<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

	<title>MAKKI MASJID SIGNAGE</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="sticky-footer.css" rel="stylesheet">

    <script src="assets/js/ie-emulation-modes-warning.js"></script>

	<script type="text/javascript">;
function updateClock() {

var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];

var now = new Date();
var day = now.getDay();
var date = now.getDate();
var month = now.getMonth();
var year = now.getFullYear();
var hour = now.getHours();
var minute = now.getMinutes();
var second = now.getSeconds();
var AMorPM = "AM";

if(hour>=12) AMorPM = "PM";
if(hour>12) hour -= 12;

if(date<10) date = "0" + date;
if(hour<10) hour =  hour;
if(minute<10) minute = "0" + minute;
if(second<10) second = "0" + second;

var firstRow = "&nbsp;" + hour + "&nbsp;" + ":" + "&nbsp;" + minute + "&nbsp;" + ":" + "&nbsp;" + second + "&nbsp;" + AMorPM + '';
document.getElementById("row1").innerHTML = firstRow;
var secondRow = "&nbsp;"+days[day] + "," + "&nbsp;" + months[month] + "&nbsp;" + date+ "&nbsp;" + year + ''+ "&nbsp;&nbsp;-";
document.getElementById("row2").innerHTML = secondRow;

setTimeout("updateClock()",1000);
}
</script>
	<style>
#header {

}
#body {
    background-color:#004d00
    color:black;
    text-align:center;
    padding:0px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    padding:5px;
}
#clock {
    width:70%;

	float:center;
    padding:0px;
}
#prayerTime {
    width:relative;
	float:left;
	clear:both;
    padding:0px;
}
#section {
    width:absolute;
    float:right;
    padding:0px;
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
#ifram {
 overflow:hidden;
 overflow-x:hidden;
 overflow-y:hidden;
 width:800px;
 height:70px;
}
#canvas {
		    width: 100%;
		    height: auto;
		}
</style>


  </head>



  <body background-color="#ebebe0">
  <div id="body" class="container-fluid" style="background-color:#ebebe0">
  <!---div id="header">
		<img src="header.jpg" alt="header" width="100%" height="100px">
	</div--->


	<div class="col-sm-4 col-lg-4" style="">
	<div>
	<center>
	<div id="clock">

	<canvas id="canvas" width="375em" height="375em"
	style="background-color:bg1.jpg">
	</canvas>

<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.width / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawLogo(ctx);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);

}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#004d00');
  grad.addColorStop(0.2, '#004d00');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(0.7, '#004d00');
  grad.addColorStop(1, '#004d00');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
  ctx.fillStyle = '#206020';

  ctx.fill();

   grad.addColorStop(1, '#00b386');

  //ctx.drawImage("globe39.png",10,40,20,20);

}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  var grad;

  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#00994d');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#00b386');

  ctx.font = "bold "+radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  ctx.fillStyle=grad;
  for(num = 1; num < 13; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }

}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
  ctx.strokeStyle = '#004d00';


    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.5, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.8, radius*0.07);
    // second
    second=(second*Math.PI/30);
	ctx.strokeStyle = '#ff0000';
    drawHand(ctx, second, radius*0.9, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}

function drawLogo(ctx) {
ctx.font="bold 20px Aerial";
ctx.fillStyle = "#00994d";
ctx.textAlign = "center";
ctx.fillText("MAKKI MASJID", 5, 40);

 base_image = new Image();
  base_image.src = 'darussalam_logo.gif';
 // base_image.onload = function(){
    ctx.drawImage(base_image, -60,-140,120,120);

//ctx.drawImage("globe39.png",10,40,20,20);
}

</script>

</div>
</div>

<div style="font-size: 2.75em;color:red;font-weight:bold">
<time id="row1" style="" ></time><br>
</div>
<div style="font-size: 2.75em;color:red;font-weight:bold">
<time id="row2" style="" ></time><br>
</div>
<script type="text/javascript">updateClock();</script>
</div>
</center>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
